<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ExampleMsi" Manufacturer="Example Manufacturer" Version="1.0.0.0" UpgradeCode="69378177-a6da-4bcf-953f-b8a13e12735c">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
        <ComponentGroupRef Id="ExampleApp.Binaries" />
        <ComponentGroupRef Id="ExampleApp.Content" />
        <ComponentGroupRef Id="ExampleApp.Satellites" />
    </Feature>
  </Package>
</Wix>
